<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" color="dark"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" class="ion-padding">
  <ion-card mode="ios" class="ion-text-center detail-card">
    <ion-avatar>
      <img [src]="userDetail?.image" />
    </ion-avatar>
    <ion-card-header class="card-header"> 
      <ion-card-title>{{userDetail?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{userDetail?.desc}}</ion-card-content>
  </ion-card>
</ion-content>