ion-toolbar{
    --background: var(--ion-color-white);
}
.detail-card{
    overflow: visible;
    margin-top: 100px;
    ion-avatar{
        margin: auto;
        position: absolute;
        top: -60px;
        height: 120px;
        width: 120px;
        text-align: center;
        z-index: 10;
        left: 0;
        right: 0;
        img{
            box-shadow: 0px 10px 16px 0 #b4b4b4;
        }
    }
}
.card-header{
   padding-top: 80px;
}