ion-toolbar{
    padding: 10px;
    padding-top: calc(env(safe-area-inset-top) + 10px) !important;
    --background: var(--themeBackground);
} 
ion-card{
    margin: 0px 0px 10px 0px;
}
.user-item{
    padding: 10px;
    .title{
        font-size: 14px;
    }
    .desc{
        font-size: 11px;
        white-space: pre-wrap;
        padding-top: 8px;
    }
    ion-avatar{
        height: 70px;
        width: 70px;
    }
}
.counter{
    color: grey;
    margin: 10px 10px 0 0;
    text-align: end;
    font-size: 13px;
}
.not-found{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: grey;
}