<ion-header modex="ios" class="ion-no-border">
  <ion-toolbar>
    <form class="search-form">
      <input #inputSearch id="search-item" type="search" name="search" [(ngModel)]="searchText" required
        (ngModelChange)="search()">
      <ion-icon class="search-icon" name="search" (click)="openSearch(inputSearch)"></ion-icon>
    </form>
    <div class="counter">
      Search record: {{userList?.length || 0}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="userList.length else notFound">
    <ion-card mode="ios" *ngFor="let item of userList; let i = index" [id]="'user-item' + i" (click)="detail(item)">
      <ion-item class="user-item ion-no-padding" lines="none">
        <ion-avatar slot="start">
          <img class="image-ele" [src]="item?.image" />
        </ion-avatar>
        <ion-label>
          <ion-text class="title"><b>{{item.name}}</b></ion-text>
          <p class="desc">{{item.desc}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
  <ng-template #notFound>
    <div class="not-found">User not found</div>
  </ng-template>
</ion-content>