:root{
    --themeBackground: #f7f7f7;
}
.search-form{
    position: relative;
    transition: all 500ms;
    width: 40px;
    height: 40px;
    background: var(--ion-color-white);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--ion-color-white);
    padding: 7px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.search-icon{
    box-sizing: border-box;
    padding: 7px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: var(--ion-color-dark);
    text-align: center;
    font-size: 1.2em;
    transition: all 500ms;
}

.search-form:hover, .search-form:valid{
    width: 100%;
    cursor: pointer;
    .search-icon{
        background: var(--ion-color-dark);
        color: var(--ion-color-white);
    }
    input{
        display: block;
    }
}